h1 {
	text-align: center;
}

.grid {
	float: left;
	width: 30%;
	padding-top: 30%;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.playerX {
  	background-image: url("https://vignette.wikia.nocookie.net/slayone/images/c/ce/X_sign.png/revision/latest?cb=20161112115211");
	background-size:100%;
}

.playerO{
  	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/O-Jolle_red.svg/540px-O-Jolle_red.svg.png");
	background-size:100%;
}

.container{
	max-width: 600px;
	margin: 0 auto;
}
