html {
  box-sizing: border-box;
  font-family: 'Just Another Hand', cursive;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: #8F9C9A;
	margin: 0;
}

h1 {
	color: white;
	background-color: #17332F;
	padding-top: 30px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 4em;
}

button {
	color: #17332F;
	border: none;
	background: none;
	outline: none;
	font-family: 'Just Another Hand', cursive;
	text-transform: uppercase;
	height: 100%;
	letter-spacing: 0.15em;
	font-size: 2em;
}

button:hover {
	color: white;
	background-color: #17332F;;
}

#difficultyText {
	display: block;
	padding-top: 0px;
	text-align: center;
	letter-spacing: 0.25em;
	font-size: 0.2em;
	text-transform: none;
}

.nav {
	background-color: white;
	height: 25px;
	text-align: center;
	font-size: 0;
}

.difficultyBtn {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	letter-spacing: 0.2em;
}

.selected {
	color: white;
	background-color: #17332F;;
}

.container{
	padding-top: 50px;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.row .grid  {
	padding-top: 30%;
	width: 33.33333%;
	float: left;
	text-align: center;
}

.vertical {
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.horizontal {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.human {
	/*Icons made by freepik.com */
  	background-image: url("images/human.svg");
	background-size:100%;
}

.cpu{
	/*Icons made by freepik.com */
	background-image: url("images/cpu.svg");
	background-size:100%;
}

.footer {
	text-align: center;
	color: black;
	display: block;
	height: 25px;
	clear: both;
}

#reset {
	color: white;
	margin-top: 80px;
	margin-bottom: 20px;
	border: none;
	background: none;
	outline: none;
	
}

#reset:hover {
	background-color: #8F9C9A;
	background-image: url("images/scribble.svg");
	background-size: 100%;
}

.victory {
	display: block;
}

.win {
	font-size: 6em;
	color: green;
}

.loss {
	font-size: 6em;
	color: red;
}

.draw {
	font-size: 6em;
	color: black;
}

@media only screen and (max-width: 480px) {
 	h1 { 
		font-size: 2em; 
		padding-top: 10px;
   }

   #reset {
		margin-top: 20px;
		outline: none;
	}

	.container{
		padding-top: 25px;
	}
}

@media (hover:none) {
    #reset:hover {
		border: none;
		background: none;
		outline: none;
	}

    #reset:focus {
		outline: none;
	}

	button:focus {
		outline: none;
	}

}

